{% extends 'index.html' %}
{% block body %}
{% load static %}
<style>
    .title{
        text-align: center;
        margin-top: 40px;
        position: relative;
        line-height: 60px;
        }
        .title::after{
            content: '';
            background: #ff523b;
            width: 80px;
            height: 5px;
            border-radius: 5px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
</style>
<div class="container" style="background:white">

        <h3 class="title">Add Product</h3>

<div class="container-fluid" style="width:90%;margin-top:2%">
<form method="post" action="" id="indexForm" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Category</label>
                <select class="form-control" name="cat">
                    <option value="">---select Category---</option>
                        {% for i in cat %}
                        <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Auction Type</label>
                <select class="form-control" name="bid_type" onchange="changemxmin()">
                    <option value="">---select Auction Type---</option>
                    <option value="Auction">Auction</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputPassword1">Product Image</label>
                <input type="file" class="form-control" id="exampleInputPassword1" name="image">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Start Session Date</label>
                <input type="datetime-local" class="form-control" name="start">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Price Interval</label>
                <input type="number" class="form-control" name="interval_price">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputPassword1">Product name</label>
                <input type="text" class="form-control" placeholder="Enter product Name" id="exampleInputPassword1" name="p_name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label id="auction_label">Minimum Price</label>
                <input type="number" class="form-control" id="exampleInputPassword1" name="price">
            </div>
        </div>
        
    </div>
    <div class="form-row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <textarea class="form-control" id="exampleInputPassword1" name="desc" placeholder="Write product description"></textarea>
            </div>
        </div>
    </div>

    <div align="center">
  <button type="submit" style="width:100%;margin-bottom:15%;" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>
</div>

  <script>
        function changemxmin(){
            document.getElementById('auction_label').innerHTML = "Minimum Price";
        }
  </script>

{% endblock %}